.info{
    display: flex;
    width: 49%;
    gap: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
}
.info__image{
    object-fit: contain;
    max-width: 100%;
    height: auto;
}
.info__text{
    padding: 30px 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info__text > h4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.6;
}
.info__text > h6 {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.6;
}

.info__text > a {
    display: inline-block;
    background-color: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1024px){
    .info{
        width: 48%;
    }
}
@media (max-width: 768px){
    .info{
        width: 100%;
    }
}
@media (max-width: 425px){
    .info__text > h4{
        font-size: 20px;
    }
    .info__text > h6{
        font-size: 15px;
    }
    .info__text > a{
        font-size: 13px;
    }
}